<a href="https://colab.research.google.com/github/pthak002/CSC221_pthak002/blob/main/Assignmnet5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#TIY 4-1
pizzas = ["pepperoni", "cheese", "BBQ chicken"]
for pizza in pizzas:
  print(pizza)

for pizza in pizzas:
  print(f"\nI like {pizza} pizza.")

print("\nI really love pizza!")

pepperoni
cheese
BBQ chicken

I like pepperoni pizza.

I like cheese pizza.

I like BBQ chicken pizza.

I really love pizza!

In [14]:
#TIY 4-2
fyling_animals = ["bird", "bat", "butterfly"]

for animal in fyling_animals:
  print(animal)

for animal in fyling_animals:
  print(f"\nA {animal} can fly.")

print("\nThese flying animals have in common:")
print("All of these animals can fly!")

bird
bat
butterfly

A bird can fly.

A bat can fly.

A butterfly can fly.

These flying animals have in common:
All of these animals can fly!

In [15]:
#TIY 4-3

for i in range(1, 21):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [1]:
#TIY 4-4

for number in range(1, 1000001):
  print(number)

1

In [19]:
#TIY 4-5
numbers = list(range(1, 1000001))

print("Minimum:", min(numbers))
print("Maximum:", max(numbers))

print("Sum:", sum(numbers))

Minimum: 1
Maximum: 1000000
Sum: 500000500000

In [20]:
#TIY 4-6
odd_numbers = list(range(1,21,2))

for number in odd_numbers:
  print(number)

1
3
5
7
9
11
13
15
17
19

In [21]:
#TIY 4-7
multiple_of_3 = [num for num in range(3,31) if num % 3 == 0]

for multiple in multiple_of_3:
  print(multiple)

3
6
9
12
15
18
21
24
27
30

In [25]:
#TIY 4-8
cubes = []

for x in range(1,11):
  cubes.append(x**3)

for cube in cubes:
  print(cube)

1
8
27
64
125
216
343
512
729
1000

In [26]:
#TIY 4-9
cubes = [num**3 for num in range(1,11)]

for cube in cubes:
  print(cube)

1
8
27
64
125
216
343
512
729
1000

In [34]:
#TIY 4-10
#i will use colors in list
list = ["yellow", "blue", "pink", "black", "white", "gray", "red", "green", "indigo"]
print(f"\nThe first three items in the list are : {list[0:3]}")

print(f"\nThe middle three items in the list are : {list[3:6]}")

print(f"\nThe last three items in the list are : {list[-3:]}")

The first three items in the list are : ['yellow', 'blue', 'pink']

The middle three items in the list are : ['black', 'white', 'gray']

The last three items in the list are : ['red', 'green', 'indigo']

In [38]:
#TIY 4-11

pizzas = ["pepperoni", "cheese", "BBQ chicken"]

friends_pizza = pizzas[:]

pizzas.append("sausage")

friends_pizza.append("vegeterian")

print("\nMy favorite pizzas are:")
print(pizzas)

print("\nMy friend's favorite pizzas are:")
print(friends_pizza)

My favorite pizzas are:
['pepperoni', 'cheese', 'BBQ chicken', 'sausage']

My friend's favorite pizzas are:
['pepperoni', 'cheese', 'BBQ chicken', 'vegeterian']

In [39]:
#TIY 4-12
my_food = ['pizza', 'falafel', 'carrot cake']
friends_food = my_food[:]

my_food.append("icecream")
friends_food.append("cannoli")

print("\nMy favorite foods are :")
for food in my_food:
  print(food)

print("\nMy friend's favorite foods are :")
for food in friends_food:
  print(food)

My favorite foods are :
pizza
falafel
carrot cake
icecream

My friend's favorite foods are :
pizza
falafel
carrot cake
cannoli

In [43]:
#TIY 4-13
foods = ("burger", "pizza", "fries", "carrot cake", "cannoli")

for food in foods:
  print(food)

#foods[0] = "sausage" #this line raised an error

#replaced first two foods
foods = ("pasta", "hotdog", "fries", "carrot cake", "cannoli")

print("\nRevised menu:")
for food in foods:
  print(food)

burger
pizza
fries
carrot cake
cannoli

Revised menu:
pasta
hotdog
fries
carrot cake
cannoli

In [44]:
#TIY 4-14
#looked through the pep 8 style guide

In [6]:
#TIY 4-15
# here are the three programs that i chose and i am indenting as well

#1
cubes = [num ** 3 for num in range(1, 11)]

for cube in cubes:
    print(cube)

#2
numbers = list(range(1, 1000001))

print("\nMinimum:", min(numbers))
print("Maximum:", max(numbers))
print("Sum:", sum(numbers))

#3
for i in range(1, 21):
    print(i)

1
8
27
64
125
216
343
512
729
1000

Minimum: 1
Maximum: 1000000
Sum: 500000500000
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [8]:
#2
def factorial(n):
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    elif n == 0:
        return 1
    else:
        numbers = list(range(1, n + 1))
        product = 1
        for x in numbers:
            product *= x
        return product

print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000

In [13]:
#3
def special_factorial(n):
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    elif n == 0:
        return 1
    else:
        # Use a list comprehension to generate a list of numbers from 1 to n
        numbers = list(range(1, n + 1))
        # Remove 4, 13, and 22 from the list if they exist
        for num in [4, 13, 22]:
            if num in numbers:
                numbers.remove(num)
        product = 1
        for x in numbers:
            product *= x
        return product
print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000