<a href="https://colab.research.google.com/github/pthak002/CSC221_pthak002/blob/main/Assignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
#TIY 6-1
person = {
    "first_name": "Prasamsha",
    "last_name": "Thakuri",
    "age": 19 ,
    "city": "Kathmandu"
    }

print("First name:", person['first_name'])
print("Last name:", person['last_name'])
print("age:", person["age"])
print("city:", person["city"])

First name: Prasamsha
Last name: Thakuri
age: 19
city: Kathmandu

In [36]:
#TIY 6-2
friends = {"Pravat": 2, "Prabin": 7, "Ishani": 99, "Sushan":73, "Yonisa": 10}

for name, number in friends.items():
    print(f"{name}'s favorite number is {number}.")

Pravat's favorite number is 2.
Prabin's favorite number is 7.
Ishani's favorite number is 99.
Sushan's favorite number is 73.
Yonisa's favorite number is 10.

In [37]:
#TIY 6-3
#del, .lower, def, slicing, .title

glossary = {
    "del:": "A keyword used in Python to delete items from a list or dictionary.",
    ".lower:": "A method used in Python to convert a string to lowercase.",
    "def:": "A keyword used in Python to define a function.",
    "slicing:": "A technique in Python used to extract a subset of elements from a sequence like a list or string.",
    ".title:": "A method used in Python to capitalize the first letter of each word in a string."
}

for key, values in glossary.items():
  print(f"{key} \n\t{values}")

del:
	A keyword used in Python to delete items from a list or dictionary.
.lower:
	A method used in Python to convert a string to lowercase.
def:
	A keyword used in Python to define a function.
slicing:
	A technique in Python used to extract a subset of elements from a sequence like a list or string.
.title:
	A method used in Python to capitalize the first letter of each word in a string.

In [38]:
#TIY 6-4

#glossARY FROM 6-3
glossary = {
    "del:": "A keyword used in Python to delete items from a list or dictionary.",
    ".lower:": "A method used in Python to convert a string to lowercase.",
    "def:": "A keyword used in Python to define a function.",
    "slicing:": "A technique in Python used to extract a subset of elements from a sequence like a list or string.",
    ".title:": "A method used in Python to capitalize the first letter of each word in a string."
}

#adding new five terms
glossary["list comprehension"] = "A concise way to create lists in Python "
glossary["tuple"] = "An immutable sequence in python"
glossary["dictionary"] = "A collection of key-value pairs in Python."
glossary["set"] = "An unordered collection of unique elements in Python."
glossary["module"] = "A file containing Python code that can be imported and used in another Python file."

for key, values in glossary.items():
  print(f"\n{key} \n\t{values}")

del:
	A keyword used in Python to delete items from a list or dictionary.

.lower:
	A method used in Python to convert a string to lowercase.

def:
	A keyword used in Python to define a function.

slicing:
	A technique in Python used to extract a subset of elements from a sequence like a list or string.

.title:
	A method used in Python to capitalize the first letter of each word in a string.

list comprehension
	A concise way to create lists in Python

tuple
	An immutable sequence in python

dictionary
	A collection of key-value pairs in Python.

set
	An unordered collection of unique elements in Python.

module
	A file containing Python code that can be imported and used in another Python file.

In [39]:
#TIY 6-11
cities = {
    "Tokyo": {
        "country": "Japan",
        "population": "13.96 million",
         "fact": "Tokyo is the largest city in Japan."
    },
    "New York City": {
        "country": "United States",
        "population": "8.4 million",
        "fact": "New York is known as a city that never sleeps."
    },
    "London":{
        "country": "United Kingdom",
        "population": "8.9 million",
        "fact": "london is the captical city of United Kingdom."

    }

}

for city, information in cities.items():
    print(f"\n{city}:")
    for key, values in information.items():
      print(f"\t{key}: {values}")

Tokyo:
	country: Japan
	population: 13.96 million
	fact: Tokyo is the largest city in Japan.

New York City:
	country: United States
	population: 8.4 million
	fact: New York is known as a city that never sleeps.

London:
	country: United Kingdom
	population: 8.9 million
	fact: london is the captical city of United Kingdom.

In [40]:
%%file grade.txt
maya, 44
aayanka, 34
saif, 99
kaya, 80
nisha, 78
suji, 92
prabin, 87

Overwriting grade.txt

In [41]:
# Reading the file and creating a dictionary
name_grade_dict = {}
with open("grade.txt", "r") as file:
    for line in file:
        parts = line.strip().split(", ")
        name = parts[0]
        grade = int(parts[1])
        name_grade_dict[name] = grade

#ALBHABETICALLY
print("Sorted by names:")
for name in sorted(name_grade_dict.keys()):
    print(f"{name}: {name_grade_dict[name]}")

#from highest to lowest
print("\nSorted by grades (highest to lowest):")
for name, grade in sorted(name_grade_dict.items(), key=lambda x: x[1], reverse=True):
    print(f"{name}: {grade}")

Sorted by names:
aayanka: 34
kaya: 80
maya: 44
nisha: 78
prabin: 87
saif: 99
suji: 92

Sorted by grades (highest to lowest):
saif: 99
suji: 92
prabin: 87
kaya: 80
nisha: 78
maya: 44
aayanka: 34