<a href="https://colab.research.google.com/github/pthak002/CSC221_pthak002/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
#TIY 2-1
simple_message = "Hi my name is Prasamsha"
print(simple_message)

Hi my name is Prasamsha

In [81]:
#TIY 2-2
message = "Hi I am 19 years old."
print(message)

#changing the message
message = "Hi I am 20 years old."
print(message)

Hi I am 19 years old.
Hi I am 20 years old.

In [82]:

#TIY 2-3
name = "Prasamsha"
print(f"Hello {name}, would you like to learn some Python today?")

Hello Prasamsha, would you like to learn some Python today?

In [83]:
#TIY 2-4
name = "Joan Didion"
print(name.lower())
print(name.upper())
print(name.title())

joan didion
JOAN DIDION
Joan Didion

In [84]:
#TIY 2-5
name = "Stephen Curry"
quote = "Success is not an accident, success is actually a choice."

print(f'{name} once said, " {quote}"')

Stephen Curry once said, " Success is not an accident, success is actually a choice."

In [85]:
#TIY 2-6
famous_name = "Stephen Curry"
quote = "Success is not an accident, success is actually a choice."

message = f'{famous_name} once said, " {quote}"'

print(message)

Stephen Curry once said, " Success is not an accident, success is actually a choice."

In [86]:
#TIY 2-7
person_name = "\t John Doen \n "


print(person_name)


print(person_name.lstrip())
print(person_name.rstrip())
print(person_name.strip())

	 John Doen

John Doen

	 John Doen
John Doen

In [87]:
#TIY 2-8

print(4 + 4)
print(12 - 4)
print(4 * 2)
#I put int so that the answer is 8 not 8.0
print(int(64 / 8))

8
8
8
8

In [88]:
#TIY 2-9

my_favorite_number = 8
message = f"My favorite number is {my_favorite_number}."
print(message)

My favorite number is 8.

In [89]:
#TIY 2-10
#Program 1
#Program written by Prasamsha on 02/12/2024

#This program shows arthemitic operations like addition, subtraction, multiplication and division

#This adds the numbers and prints out 8
print(4 + 4)

#This subtracts the numbers like 4 from 12 and prints out 8
print(12 - 4)

#This multiplies the numbers and prints out 8
print(4 * 2)

#This divides the numbers 64 by 8 and prints out 8
#I put int so that the answer is in integer which is 8  and not 8.0
print(int(64 / 8))

8
8
8
8

In [90]:
#TIY 2-10
#Program 2
#Program written by Prasamsha on 02/12/2024

#This program prints out the famous quote by Stephen Curry

#I am assigning the value Stephen curry to the variable called name
name = "Stephen Curry"

#I am just writing down the quote said by Stephen curry with double quotation
quote = "Success is not an accident, success is actually a choice."

#This prints out the program that I want, here "{}" inside here I am writing variables.
#I used single quotation so that there wont be error because the actual quote is in double quotation
print(f'{name} once said, " {quote}"')

Stephen Curry once said, " Success is not an accident, success is actually a choice."

In [94]:
import this