<a href="https://colab.research.google.com/github/pthak002/CSC221_pthak002/blob/main/Class3_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CSC 221 Spring 2024
- Ned Lecky Class 3
- Class 3 live
-2/5/2024
#here is what we did..

In [ ]:
[]

In [2]:
a = 13
b = 12.5
c = "fred"

print(a,b,c)

print(type(a))
print(type(b))
print(type(c))

13 12.5 fred
<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
b = a**123
print(type(b), b)

<class 'int'> 103521923711427330139508660561111399310356231562909825053544787423528887795603512927942762680653876132399975884814583882073552996857463797

In [5]:
f2 =1/3
print(f2)

0.3333333333333333

In [ ]:
#variable names
# A-Za-z_ followed by 0-9A-Za-z_
_3abc = 12 #it works

In [7]:
#good andd bad variable names
age_in_years = 61
last_name = "lecky"
first_name = "Ned"

AgeInYears = 61 #camel

print(f"age_in_years = {age_in_years} and 4 squared is {4**2}")

age_in_years = 61 and 4 squared is 16

In [14]:
# Intro to functions and objects

def f1(x):  #def means defining a function or creating a function. #f1 is name and x is the input
  y = 3 * x + 2 #after colon indentend and there is name = number and y is the variable and
  return y # return is


def f2(x):
  print(f'Hi I\'m f2 and I got {x}')

def f3(x):
  print(f"Hi I'm f3 and I got {x}")


y = f1(12) # 12 becomes x in the function
print(y)

f2(12)
f3(21)

38
Hi I'm f2 and I got 12
Hi I'm f3 and I got 21

In [19]:

name = "ned lecky"
print(name.title())

Ned Lecky

In [21]:
#roll 1 die 200 times.... what sum do you get?

import random

def roll():
  r = random.randint(1,6)
  return r

for i in range(20):
  print(i, roll())

0 5
1 1
2 1
3 1
4 2
5 5
6 1
7 5
8 3
9 6
10 3
11 5
12 2
13 3
14 4
15 3
16 5
17 5
18 2
19 4

In [29]:
#roll 1 die 200 times.... what sum do you get?

import random

def roll():
  r = random.randint(1,6)
  return r

def roll_n_times(n):
  total = 0
  for i in range(n):
    r1 = roll()
    total = total + r1
    # print(i, r1)

  return total

t1 = roll_n_times(5)
t2 = roll_n_times(200)

print(t1,t2)

18 716

In [32]:
for i in range(20):
  print(roll_n_times(200))

669
658
714
688
674
674
733
671
758
676
710
700
686
724
736
740
689
672
677
705