<a href="https://colab.research.google.com/github/pthak002/CSC221_pthak002/blob/main/Quiz_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1 None
def divide_numbers(a, b):
    """
    Divides two numbers and returns the result.
    If the divisor (b) is zero, it returns None.
    """
    if b == 0:
        return None
    else:
        return a / b

result1 = divide_numbers(10, 2)
print(result1)

result2 = divide_numbers(8, 0)
if result2 is None:
    print("Cannot divide by zero")
else:
    print(result2)

5.0
Cannot divide by zero

In [2]:
#2 break
print("Breaking out of a for loop")
fruits = ["apple", "banana", "cherry", "orange", "kiwi"]
for fruit in fruits:
    if fruit == "cherry":
        print(f"Found {fruit}, breaking out of the loop.")
        break
    print(fruit)

Breaking out of a for loop
apple
banana
Found cherry, breaking out of the loop.

In [4]:
#3 except
try:
    number = int(input("Enter a number: "))
    result = 100 / number
    print(f"Result: {result}")
except ValueError:
    print("Invalid input. Please enter a number.")
except ZeroDivisionError:
    print("Cannot divide by zero.")

Enter a number: k[
Invalid input. Please enter a number.

In [5]:
#4 in
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

In [6]:
#5 raise
def check_age(age):
    if age < 0:
        raise ValueError("Age cannot be negative")
    else:
        print("Valid age:", age)

try:
    check_age(-1)
except ValueError as e:
    print("Caught an exception:", e)

Caught an exception: Age cannot be negative

In [7]:
#6 False
def is_odd(n):
    if n % 2 == 1:
        return True
    else:
        return False


number = 17
if is_odd(number):
    print(f"{number} is an odd number.")
else:
    print(f"{number} is not an odd number.")

17 is an odd number.

In [13]:
#7 await
import asyncio
import nest_asyncio
nest_asyncio.apply()


async def count_down():
    for i in range(5, 0, -1):
        print(f"Countdown: {i}")
        await asyncio.sleep(1)


async def main():
    print("Starting countdown:")
    await count_down()
    print("Countdown complete!")


await main()

Starting countdown:
Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Countdown complete!

In [12]:
!pip install nest_asyncio

Requirement already satisfied: nest_asyncio in /usr/local/lib/python3.10/dist-packages (1.6.0)

In [14]:
#8 else
x = 5

if x > 10:
    print("x is greater than 10")
else:
    print("x is not greater than 10")

x is not greater than 10

In [15]:
#9 import

import math

print("The square root of 16 is:", math.sqrt(16))

The square root of 16 is: 4.0

In [17]:
#10 pass

def placeholder_function():
    pass

x = int(input("Enter a number: "))
if x > 5:
    pass
else:
    print("x is not greater than 5")


for i in range(5):
    user_input = input("Enter something: ")
    pass

Enter a number: 6
Enter something: 0
Enter something: 6
Enter something: 4
Enter something: 2
Enter something: 1

In [18]:
#11 and

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))


if num1 > 10 and num2 > 10:
    print("Both numbers are greater than 10.")
else:
    print("At least one number is not greater than 10.")

Enter the first number: 2
Enter the second number: 2
At least one number is not greater than 10.

In [19]:
#12 continue

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

In [20]:
#13 for

fruits = ["apple", "banana", "cherry", "date"]

for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like cherry
I like date

In [21]:
#14 lambda

addition = lambda x, y: x + y


result = addition(3, 5)
print("The result of addition is:", result)

The result of addition is: 8

In [22]:
#15 try

try:
    user_input = input("Enter a number: ")
    number = int(user_input)
    print("The square of", number, "is", number ** 2)
except ValueError:
    print("Please enter a valid integer.")

Enter a number: 5
The square of 5 is 25

In [23]:
#16 True

is_sunny = True

if is_sunny:
    print("It's a sunny day!")
else:
    print("It's not sunny today.")

It's a sunny day!

In [24]:
#17 class

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display_info(self):
        print("Name:", self.name)
        print("Age:", self.age)


person1 = Person("Alice", 30)


person1.display_info()

Name: Alice
Age: 30

In [66]:
#18 finally
def divide(a, b):
    try:
        result = a / b
    except ZeroDivisionError:
        print("Error: Division by zero")
    else:
        print("Division result:", result)
    finally:
        print("Division operation completed.")

# Test cases
divide(10, 2)
divide(8, 0)

Division result: 5.0
Division operation completed.
Error: Division by zero
Division operation completed.

In [31]:
#19 is
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)
print(a is c)

True
False

In [33]:
#20 return
def calculate_area(radius):
    if radius <= 0:
        print("Error: Radius must be a positive number.")
        return
    area = 3.14159 * radius ** 2
    return area

circle_area = calculate_area(5)

print("The area of the circle is:", circle_area)

The area of the circle is: 78.53975

In [35]:
#21 as
import math as m

print(m.sqrt(16))

#another use
try:
    result = 10 / 0
except ZeroDivisionError as error:
    print("Error occurred:", error)

4.0
Error occurred: division by zero

In [37]:
#22 def
def add_numbers(a, b):
    """Add two numbers and return the result."""
    return a + b

result = add_numbers(7, 5)
print("The sum is:", result)

The sum is: 12

In [38]:
#23 from
from math import sqrt, pi

print("Square root of 16:", sqrt(16))
print("Value of pi:", pi)

Square root of 16: 4.0
Value of pi: 3.141592653589793

In [39]:
#24 nonlocal
def outer_function():
    x = 10

    def inner_function():
        nonlocal x
        x += 1
        print("Inner function:", x)

    inner_function()
    print("Outer function:", x)

outer_function()

Inner function: 11
Outer function: 11

In [40]:
#25 while
count = 1
while count <= 5:
    print("Count:", count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [42]:
#26 async
import asyncio

async def greet(name):
    await asyncio.sleep(1)
    return f"Hello, {name}!"

async def main():
    result = await greet("volla")
    print(result)

asyncio.run(main())

Hello, volla!

In [44]:
#27 elif
score = 90

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Grade: A

In [45]:
#28 if
x = 3

if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [46]:
#29 not
my_list = [1, 2, 3, 4, 5]

if not 6 in my_list:
    print("6 is not in the list")
else:
    print("6 is in the list")

6 is not in the list

In [48]:
#30 with
import time

class Timer:
    def __enter__(self):
        self.start_time = time.time()
        return self

    def __exit__(self, exc_type, exc_value, traceback):
        self.end_time = time.time()
        self.execution_time = self.end_time - self.start_time
        print("Execution time:", self.execution_time, "seconds")

with Timer():

    time.sleep(2)
    print("Task completed")

Task completed
Execution time: 2.0026001930236816 seconds

In [65]:
#31 assert
def divide(a, b):
    assert b != 0, "Error: Division by zero"
    return a / b

# Test cases
print(divide(10, 2))
print(divide(8, 0))

5.0

AssertionError: Error: Division by zero

In [57]:
#32 del
my_list = [1, 2, 3, 4, 5]
del my_list[0]
print(my_list)

[2, 3, 4, 5]

In [59]:
#33 global
x = 10  # Global variable

def foo():
    x = 20   # it creates a new local variable x
    #global variable x remains unchanged

foo()
print(x)

10

In [61]:
#34 or

def check_positive_or_even(number):
    if number > 0 or number % 2 == 0:
        return True
    else:
        return False

# Testing the function
print(check_positive_or_even(-5))
print(check_positive_or_even(-3))
print(check_positive_or_even(8))

False
False
True

In [64]:
#35 yeild

def generate_even_numbers(start, end):
    current = start
    while current <= end:
        if current % 2 == 0:
            yield current
        current += 1
print("Even numbers between 10 and 20:")
for num in generate_even_numbers(10, 20):
    print(num)
even_numbers_list = list(generate_even_numbers(30, 40))
print("List of even numbers between 30 and 40:", even_numbers_list)

Even numbers between 10 and 20:
10
12
14
16
18
20
List of even numbers between 30 and 40: [30, 32, 34, 36, 38, 40]